.LoginArea{
	position:absolute;
	top:10px;
	right:10px;
	font-size:14px;
}
.LogoutArea{
	position:absolute;
	top:10px;
	right:10px;
	font-size:14px;
}
.PoweredText {
	font-size:14px;
}
.CommentDate {
	font-size:12px;
	/*background-color:#A8A8A8;*/
	color:#A8A8A8;
}
.CommentEmail {
	font-size:12px;
}
